.jumbotron {
    text-align: center;
    background-color: #277BC0;
    color: #FFCB42;
    padding: 40px;
}

#current-weather {
    border: solid;
    margin-left: 20%;
}

#5-day-weather {
    margin-left: 40%;
}

#forecast {
    margin-left: 20%;
}

#card-1 {

}

#card-2 {
    
}

#card-3 {
    
}

#card-4 {
    
}

#card-5 {
    
}