.jumbotron {
    text-align: center;
    background-color: #277BC0;
    color: #FFCB42;
    padding: 40px;
}

#current-weather {
    border: solid;
    margin-left: 20%;
}

#forecast {
    margin-left: 20%;
}
